
@import "bootstrap-4.1.0/scss/functions";
@import "bootstrap-4.1.0/scss/variables";
@import "bootstrap-4.1.0/scss/mixins";

html,body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;    
    min-height: 100vh;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }


header{
    background-color: black;
    font-weight: bold;
    padding: 1vh;
}

header span{
    font-weight: bold;
    color: red; 
    border-radius: 0.3em;
    margin-right: 3vw;    
}

header a{
    font-weight: bold !important;
    margin-right: 1vw;
}

header a:hover{
    background-color: #000055 !important;
    border-color: white !important;
}

section {
    flex: 1;
    text-align: center;
}

section .title {
    font-weight: bold;
    font-size: 20vmin;
}

section .subtitle {
    font-weight: bold;
    font-size: 3vmin;
}

footer{
    background-color: black;
}

.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
  }
  
  .wrapper > * {
    padding: 0.5rem;
    flex: 1;
  }

  footer span{
      color: white;
      font-size: 0.8rem;
  }

  .index-container-login{
      margin-top: 5vmin;
      font-weight: bold;
      color: black;
  }

  .index-form-login{
    input, input:focus, input:default{
        color: black !important;
        font-weight: bold;
    }
  }

 
